[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio = "*"
requests = "*"
pypcapkit = "*"
pyshark = "*"
scapy = "*"
dpkt = "*"
pypcap = "*"
playsound = "*"
"rpi.gpio" = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.8"
